<div class="mainContainer">
	<header class="logoReal">
		<a>
			<img src='../assets/smallsnow.jpg' alt="image not loaded">
		</a>
	</header>
	<header class="logoHeader">
		<div style="grid-column: 1;"></div> <!-- Empty space on the left -->
		<div style="grid-column: 2; justify-content: center;">
			
		</div>
		<div style="grid-column: 3; display: flex; justify-content: flex-end;">
			<a class="button" routerLink="/snowboards" routerLinkActive="active" style="margin-right: 20px;">
				<img src='../assets/user-interface.png' alt="image not loaded">
			</a>
		</div>
	</header>

<div class="container">
  

  <header class="secondHeader"><app-second-header></app-second-header></header>
  <main class="mainContent"><router-outlet /></main>
  <footer class="footer"><app-footer></app-footer></footer>
  
</div>
</div>


