@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');
html {
  font-family: 'Courier New', Courier, monospace;
}

.example-card {
  max-width: 300px;
  margin: 20px;
  

}

.example-header-image {
  background-image: url('../assets/testSnowboard.png');
  background-size: cover;
}
.mainContainer {
  height: 100%;
  margin-bottom: 10px;
  overflow-y: scroll; 
  overflow-x: hidden; 
  
}
.logoReal {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  height: 7%;
}
.logoHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
  justify-content: space-between; 
  align-items: center; 
  background-color: white;
  
  height: 6%;
}



.container {
  position: relative;
  top: 560px;
  left: 50%; 
  transform: translate(-50%, -50%); 
  overflow: auto; 
  scrollbar-width: none;
  background: linear-gradient(to right, lightblue, #FFCCCB);
  height: 100%; 
  width: 85%; 
  
  border-radius: 20px;
  display: flex; 
  flex-direction: column; 
}

.mainContent {
  
  padding: 10px; 
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer {
  display: flex;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid white;
}

