
<form (submit)="onSubmit($event)" enctype="multipart/form-data" class="listing-form">
    <p class="create">Create a New Listing!</p>
    <mat-form-field class="listing-full-width">
        <mat-label>Theme (snowboarding, skiing, clothing)</mat-label>
        <input matInput required name="theme" [(ngModel)]="theme" placeholder="Ex. snowboarding, skiing, clothing">
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Product Name</mat-label>
        <input matInput required name="name" [(ngModel)]="name" placeholder="Ex. Snowboard">
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Condition</mat-label>
        <input matInput name="condition" [(ngModel)]="condition" placeholder="Ex. New, Used">
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="description" placeholder="Ex. A great snowboard for beginners"></textarea>
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Price</mat-label>
        <input matInput type="number" required name="price" [(ngModel)]="price" placeholder="Ex. 299.99">
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Manufacturer</mat-label>
        <input matInput required name="manufacturer" [(ngModel)]="manufacturer" placeholder="Ex. Burton">
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Size</mat-label>
        <input matInput required name="size" [(ngModel)]="size" placeholder="Ex. 120cm , 140 cm">
    </mat-form-field>

    <mat-form-field class="listing-full-width">
        <mat-label>Color</mat-label>
        <input matInput required name="color" [(ngModel)]="color" placeholder="Ex. Red, Blue">
    </mat-form-field>


    <input type="file" class="form-control-file" (change)="onFileChange($event)" name="productImage">

    <!-- redirect to single listing or user in future-->
    <section>
        <div class="example-button-row">
            <button mat-button color="primary" type="submit">Create!</button>
        </div>
    </section>
</form>

