<main>
    <div class="wrapper">
        <div class="title">
           Login
        </div>
        <form action="#">
           <div class="field">
              <input type="text" required>
              <label>Email Address</label>
           </div>
           <div class="field">
              <input type="password" required>
              <label>Password</label>
           </div>
           <div class="spacing">
              
           </div>
           <div class="field">
              <input type="submit" value="Login">
           </div>
           <div class="signup-link">
              Not a member? <a class="button" routerLink="/signup" routerLinkActive="active">SignUp</a>
           </div>
        </form>
     </div>
    </main>