<div class="container">
  <header class="logoHeader">
	
	<a>
		<img src='../assets/smallsnow.jpg' alt="image not loaded">
		<!-- use router link to link back to home page when clicked-->
	</a>
	<a>
		<img src='../assets/cart.png' alt="image not loaded">
		<!-- use router link to link back to cart when clicked-->
	</a>
	
	<a>
		<img src='../assets/loginLogo.png' alt="image not loaded">
		<!-- use router link to link back to login page when clicked-->
	</a>

  </header>

  <header class="secondHeader">  
	<ul>
		<!--add drop down menus in the future-->
		<li>Snowboarding</li>
		<li>Skiing</li>
		<li>Snow Clothing</li>
	</ul>
  </header>
  
  <main class="mainContent">
    different components
	
  </main>

  <footer> foot</footer>
</div>

<router-outlet />

