<ul class="naver">
    <li><a class="button" routerLink="/snowboards" routerLinkActive="active">Snowboarding</a></li>
    <li><a class="button" routerLink="/skii" routerLinkActive="active">Skiing</a></li>
    <li><a class="button" routerLink="/clothing" routerLinkActive="active">Clothing</a></li>
    <li><a class="button" routerLink="/listing" routerLinkActive="active">Listing</a></li>
    <li><a class="button" routerLink="/explore" routerLinkActive="active">Explore</a></li>
    <li ><a class="button" routerLink="/user" routerLinkActive="active">
        <img src='../assets/user-interface.png' alt="image not loaded">
    </a></li>
</ul>
