<div class="mainContent">

    <div class="filter">
        filterItems
    </div>



    <div class="content">
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Snowboard #1</mat-card-title>
            <mat-card-subtitle>Arbor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/testSnowboard.png" alt="Photo of a Snowboard">
            <mat-card-content>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DETAILS</button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Snowboard #1</mat-card-title>
            <mat-card-subtitle>Arbor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/testSnowboard.png" alt="Photo of a Snowboard">
            <mat-card-content>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DETAILS</button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Snowboard #1</mat-card-title>
            <mat-card-subtitle>Arbor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/testSnowboard.png" alt="Photo of a Snowboard">
            <mat-card-content>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DETAILS</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Snowboard #1</mat-card-title>
            <mat-card-subtitle>Arbor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/testSnowboard.png" alt="Photo of a Snowboard">
            <mat-card-content>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DETAILS</button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Snowboard #1</mat-card-title>
            <mat-card-subtitle>Arbor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/testSnowboard.png" alt="Photo of a Snowboard">
            <mat-card-content>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DETAILS</button>
            </mat-card-actions>
        </mat-card>
        
        <mat-card class="example-card">
            <mat-card-header>
            <mat-card-title>Snowboard #1</mat-card-title>
            <mat-card-subtitle>Arbor</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../assets/testSnowboard.png" alt="Photo of a Snowboard">
            <mat-card-content>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            <p>Blah:</p>
            </mat-card-content>
            <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>DETAILS</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>