.filter {
    background-color: white;
    display: flex;
    justify-content: center;
    align-self: center;
}


.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
    gap: 10px; /* Space between cards */
}

.example-card {
    max-width: 300px;
    margin: 20px;
    
  
  }
  

  

