/* .naver styles */
.naver {
    margin: 5px;
   
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    list-style: none;
    display: flex; 
    justify-content: space-around;
    padding: 5px; 
    border-bottom: 2px solid white;
  }
  
  
  .naver li {
    padding: 10px 20px;
    font-size: 30px;
    cursor: pointer; 
    
    
    color: white;
  
    
    
    transition: all 0.5s ease-in-out; 
  }
  
  
  .naver li:hover {
    
    color: white;
    background: linear-gradient(to right, lightblue, white);
    
  
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }