
    <div class="container">
        <div class="words">
        <h1>Welcome to SnowZone!</h1>
        <p>Your go-to marketplace for buying and selling used snow gear based in Boone, NC!</p>
        <p>Find great deals on pre-loved snow gear, from skis and snowboards to jackets and boots.</p>
        <p>Browse our listings and connect with sellers directly to negotiate your perfect deal.</p>
        <a class="button" routerLink="/explore" routerLinkActive="active">Explore Today!</a>
    </div>
    <div class="imger">
        <img src="../../../assets/snowboarder.gif" style="margin-top: 20px;">
    </div>
    </div>
    